// font famile
$fontParagrsfo:'Fasthand',Roboto, cursive ,'Lobster','Freehand', sans-serif;
$fontInfos:Roboto, sans-serif;

// gradiente para media query
$corDeFundoContainer:#191970,#000080;
$corCelularContainer:#6A5ACD,#836FFF;
$corTabletContainer:#6959CD,#FFD700;
$corTexto:#fff;
$corTextoInfos:#000;

//cor para notbook e pc
$corBlue1:#00008B;
$corBlue2:#0000CD;
$red:#FF0000;
$yellow:#FFD700;

//infos
$corItem:#800000;
$corB:#6A5ACD;
$corDefundoInfos1:#B0E0E6;
$corDefundoInfos2:#00FA9A;

//buttons
$corButton: #FF0000;
$corDeFundoButton:#FFFF00;